<!DOCTYPE html>
<html>
    <head>
        <title>Uniblock</title>
        
        <meta name="viewport" content="width=device-width">
        <meta property="og:site_name"   content="uniblock">
        <meta property="og:title"       content="uniblock">
        <meta property="og:description" content="Simple unblocker">
        <meta property="og:url"         content="https://www.gay-femboy.tech">
        <meta property="og:image"       content="">
        
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div class="center">
            <h1>Uniblock</h1>
            <h4>Version 0.0.1</h4>

            <p>Original software made by <a href="https://estrogens.rocks/">roylatgnail</a></p><br>
            <p>Source code avaliable <a href="https://github.com/unix-witch/uniblock">here</a></p>
 
        
            <form action="/site" method="POST">
                <input name="url" type="text" class="website-input" placeholder="Enter in website URL"><br><br>
            </form>
        </div><br>

        <div class="flex">
                <iframe src="https://nojs.sugarfi.dev/embed.php?url=https://gay-femboy.tech" height="70" frameborder="0" style="border: 1px solid black"></iframe>
        </div>
    </body>
</html>
