<!DOCTYPE html>
<html>
    <head>
        <title>Uniblock</title>

        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div class="main_div">
            <form method="post" action="/">
                <input type=text name="url" class="url" placeholder="https://www.example.com"><br>
                <input type="submit" class="submit">
            </form>
        </div>

        <div class="footer">
            <p>Created by <a href="https://estrogens.rocks">sylvia bsd</a> and ThatOneNumber#7605 on discord. Source code at <a href="https://github.com/unix-witch/uniblock">github</a>. Removal of this notice is against the software license and is illegal</a></p>
        </div>
    </body>
</html>
