html {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100%;
    background-color: #222831;
}

h1 { color: white;}
h4 { color: white; }
p { color: white;}


@media screen {
    .flex {
        display: flex;
        height: 90vh;
         flex-direction: column; justify-content: flex-end; align-items: center; 
    }
    .center {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
        border: 1px solid #393E46;
        margin: 10px;

        text-align: center;
    }





    .website-input {
        width: 90%;
        line-height: 1.5;
        padding: 15px 0px;
        border-radius: 10px;
        border: 1px solid #1A1A2E;
        font-size: 90%;
        color: white;
        opacity: 1;
       
        background: var(--bgFormEls);
        transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
          transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
    }
}
